// Place all the styles related to the member controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gs {
    font-family:궁서;
    text-align:center;
}
.center {
    text-align:center;
}
.gt {
    font-family:Gothic;
}